h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  background-color: #f6f6f6;
  margin-bottom: 10px;
  padding: 10px;
  border-left: 5px solid #007acc;
}
